.app {
  position: relative;
  display: grid;
  place-items: center;
}

.app__content {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 20px 10px;
}

.app__tasks {
  padding-left: 0;
}

.app__form {
  padding: 10px;
  display: flex;
  align-items: baseline;
}